#terminal {
    background-color: black;
    height: 100%;
    margin: 0 auto;
    padding: 0;
  
    .terminal {
      padding: 5px;
      height: 100%;
    }
  }

@font-face {
    font-family: '3270font';
    src: url('https://crg.eti.br/3270-Regular.ttf') format('truetype'),
         url('https://crg.eti.br/3270-Regular.otf') format('opentype'),
         url('https://crg.eti.br/3270-Regular.woff') format('woff'); 
}