#terminal {
    width: auto;
    height: 100%;
    margin: 0 auto;
    padding: 0;
  
    .terminal {
      padding: 5px;
      height: 100%;
    }
  }

@font-face {
    font-family: '3270font';
    src: url('https://crg.eti.br/3270Condensed-Regular.woff') format('woff'),
         url('https://crg.eti.br/3270SemiCondensed-Regular.woff') format('woff');
}